<div class="container">
    <h1>Choose What To Do</h1>
    <a href="/sign-up">Sign-Up</a>
    <a href="/login">Log-In</a>
    <a href="/main">Main</a>
    <a href="/private">Private</a>

    <a href="/logout">LogOut</a>

</div>