<img src="./../../img/funnycat.jpg" alt="funnycat">
<br>
<br>
<a class="btn btn-dark" href="./private">Now you can go to your private area!</a>
<br>
<br>
<a class="btn btn-dark" href="./">Back to the home page, babe!</a><br>