<div class="container">
    <div class="row justify-content-around">
        <div class="col-md-12">
            <img src="https://m.media-amazon.com/images/I/41wN1fhFL6L.jpg" alt="funny_cat">
            <a class="btn btn-dark" href="/">Go back Home</a>
        </div>
    </div>
</div>